
* {
    box-sizing: border-box;
}
.main {
    display: flex;
}
.about {
    background-image: url(./images/istockphoto-516230773-612x612.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.about h1 {
  text-align:start;
  color: white;
  padding-left: 100px;
 
    margin-bottom: -30px;
  font-size: 100px;
font-weight: 500px;
font-family: Alfa Slab One;
}
.saying {
    margin-top: 50px;
    font-family: Roboto;
    font-size: 65px;
    color: grey;
    width: 800px;
    padding-right: 50px;
    font-weight: bolder;
    
}
.saying2 {
    color: black;
    width: 600px;
    padding-right: 200px; 
    
    font-family: Raleway;

}
.barbers {
    color: grey;
    width: 100%;
    padding-right: 200px;    
    font-size: 20px;
    
}

.container {
    display: flex;
  
}
.container-right {
    padding-top: 100px;
   
}

.thebarbers {
    display: flex;
    justify-content: center;
}

.imagebox {
    display: flex;
    flex-direction: column;
  

}
.imagebox .qoute {
   display: flex;
   width: 200px
    
}
.card-title {
color: darkred;
text-align: center;
}
.card-text {
    justify-content: center;
}

.ourbarbers {
    display: flex;
    gap: 100px;
    margin: 100px
}

.container-bottom {
    display: flex;
    
    
}