* {
    box-sizing: border-box;
}

.main {
    display: flex;
}
.gallery {
    background-image: url(./images/oldbarbershop.JPG);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.gallery h1 {
text-align:start;
color: white;
padding-left: 100px;
opacity: 9;
margin-bottom: -30px;
font-size: 100px;
font-weight: 500px;
font-family: Alfa Slab One;
}
.container
{
    display: flex

}.row1 .container1 {
    display: inline-flex;
    padding: 50px;
    row-gap: 40px;
    column-gap: 40px;
}
   
.row2 .container2 {
    display: inline-flex;
    padding: 50px;
    row-gap: 40px;
    column-gap: 40px;
}

.maintext {
    display: flex;
    font-family: raleway;
    text-align: start;
    padding-left: 100px;
    width: 400px;
    margin-top:  50px;
    
}
.text {
    
    text-align: center;
    font-family: montserrat;
    
}
.footer-container {
    background-color: grey;
    height: 200px;
}

