
* {
    box-sizing: border-box;
}
.main {
    display: flex;
}

.saying {
    margin-top: 50px;
    font-family: Roboto;
    font-size: 65px;
    color: grey;
    width: 800px;
    /* padding-left: 100px; */
    font-weight: bolder;
    
}
.saying2 {
    color: black;
    width: 600px;
    /* padding-left: 100px; */
   font-family: Raleway;

}
.barbers {
    color: grey;
    width: 100%;
    /* padding-left: 100px; */
    
}

.container {
    display: flex;
    
}


.page-cover {
    background-image: url(../images/about-cover.jpg);
  }
