.page-cover {
    background-image: url(../images/page-covers/gallery.jpg);
}

.main {
    display: flex;
}

div h2 {
    margin-bottom: 50px;
}

.batch-one {
    padding-bottom: 50px;
}
.batch-two {
    padding-bottom: 100px;
}

.maintext {
    display: flex;
    font-family: raleway;
    text-align: start;
    margin-top: 50px;

}

.text {

    text-align: center;
    font-family: montserrat;

}
