.page-cover {
    background-image: url(../images/page-covers/giftcard.jpg);
}
.page-cover h1 {
    font-size: 60px;
    margin-bottom: -20px;
}
main {
    width: 80%;
    margin: 80px auto;
}
input[type=text] {
    width: 50px;
}
.view-cart {
    margin-top: 70px;
}