
.page-cover {
    background-image: url(../images/home.jpg);
  }

  .cont {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
  }
  .app_row {
    height: 200px;
    position: relative;
    
  }
  .app_row img {
    padding-right: 40px;
  }
  .top-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.7s ease;
  }
  
  .top-img:hover {
    opacity: 1;
  }
  .app_row div {
    width: 350px;
  }

  .article>.img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .article>.img-wrapper img{
    height: 100%;
  }

  .block-qoute{
    font-family: Raleway;
    font-size: 46px;
    font-weight: 400;
    line-height: 1.2;
    margin: 2rem 0px;
  }

  p.title {
    font-family: Raleway;
    font-weight: bold;
    font-size: 35px;
  }

  .article p {
    font-family: Raleway;
    font-size: 16px;
    line-height: 1.6;
  }

  .reviews .cards{
    background-color: rgb(235, 237, 239);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px #d0d0d0;
    margin: 40px 0px;
  }

  .reviews .img-wrapper{
    background-image: url(../images/homepageimg/bot.png);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }


  .reviews .card-txt {
    font-style: italic;
    font-size: 20px;
  }

  .card-reviewer * {
    margin: 0px;
  }