
.page-cover {
    background-image: url(../images/home.jpg);
  }

  .cont {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .app_row {
    height: 200px;
    grid-column: span 1;
    display: flex;
    justify-content: center;
  }

  .app_row a{
    position: relative;
  }

  .app_row img {
    /* padding-right: 40px; */
  }
  .top-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.7s ease;
  }
  
  .top-img:hover {
    opacity: 1;
  }
  .app_row div {
    width: 350px;
  }

  .article>.img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .article>.img-wrapper img{
    height: 100%;
  }

  .block-qoute{
    font-family: Raleway;
    font-size: 46px;
    font-weight: 400;
    line-height: 1.2;
    margin: 2rem 0px;
  }

  p.title {
    font-family: Raleway;
    font-weight: bold;
    font-size: 35px;
  }

  .article p {
    font-family: Raleway;
    font-size: 16px;
    line-height: 1.6;
  }

  .reviews .cards{
    background-color: rgb(235, 237, 239);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #d0d0d0;
    margin: 40px 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .reviews .img-wrapper{
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reviews .img-wrapper img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .reviews .card-txt {
    font-style: italic;
    font-size: 20px;
    grid-column: span 10;
    grid-row: span 1;
  }

  .card-reviewer {
    grid-column: span 10;
    grid-row: span 1;
  }

@media (max-width: 1000px)  {
  .app_row {
    grid-column: span 3;
  }

  .reviews .img-wrapper{
    grid-column: span 12;
    grid-row: span 1;
  }

  .reviews .card-txt {
    grid-column: span 12;
  }

  .card-reviewer {
    grid-column: span 12;
  }

  }