@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    background-image: url(conheader.png);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: flex-end;
    font-family: 'Candal', sans-serif;
    font-size: 38px;
}
header h1 {
    padding-left: 18%;
    margin-bottom: -20px;
}

main {
    padding: 54px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.placeholder{
    width: 15%;
}

.left-side {
    width: 45%;

}

.contact-form h3 {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    margin-top: 40px;
}

.contact-form {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-form div label {
    margin-top: 15px;
}


.left-side .contact-form form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

form label {
    display: block;
    font-size: 14px;
    padding: 3px;
}

form input {
    width: 100%;
    padding: 10px;
}

form .name {
    display: flex;
    width: 100%;
    gap: 10px;
}
form .name label {
    display: block;
}
.name .firstName {
    width: 50%;
}
.name .lastName {
    width: 50%;
}

form textarea {
    width: 100%;
    font-size: 14px;
}

.contact-form div button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: red;
    color: white;
    margin-top: 20px;
}

.contact-form div button:hover {
    background-color: white;
    color: red;
}

.right-side {
    width: 25%;
}

.tags {
    margin-top: 10px;
    margin-bottom: 80px;
}
.tags a {
    font-family: 'Candal', sans-serif;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    background-color: red;
    border: 1px red solid;
}


.tags a:hover {
    background-color: white;
    color: red;
}

.color-fill {
    color: red;
}
.appointment a i{
    display: none;
}
.appointment a:hover i{
    display: inline;
}
.work a i{
    display: none;
}
.work a:hover i{
    display: inline;
}

.contact {
    padding-left: 15px;
    margin-bottom: 50px;
}
.contact h3 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
}
.contact p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
}

.contact p a {
    text-decoration: none;
    color: red;
}

.contact p a:hover {
    text-decoration: underline;
}


.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    border-width: 5px;
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 80px;
} 
.open h3 {
    font-family: 'Lato', sans-serif;
}

.open p {
    font-family: 'Noto Sans', sans-serif;
}

